# TODO: add versions
pip >= 23.0

# developement tools etc.
flake8  # linting tool for python. Is used as pre-commit hook
black  # automatic code formatter, PEP8 conform, used as pre-commit hook
black[jupyter]  # the same for jupyter notebooks
isort  # sorts the imports, pre-commmit hook
pre-commit  # well, the pre-commit hook thing
sphinx  # automatic documentation tool
pytest  # verx powerful testing framework in python
nbstripout  # strips the outputs from jupiter notebooks. Very handy when using
# jupyter with git. pre-commit hook
mypy  # type checking in python
setuptools >= 67.0

# add here the actual dependencies:
numpy
matplotlib
jupyterlab
pytorch
torchvision
